@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: black;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

/* CABEÇALHO */

nav ul img{
    width: 100px;
}

nav{
    background-color: black;
    width: 100%;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.381);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li {
    padding: 15px;
    transition: background-color 0.2s ease;
    border-radius: 30px;
}

nav li:not(:first-child):hover { /* NÃO PEGA NA LOGO */
    background-color: #800080;
}



/* CONTEÚDO */

h1.titulo{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 48px;
}

img#banner-sesi-pira{
    width: 100%;
}

/* CARROSSEL */

div.swiper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 10px;

}

div.slide-content, .slide-content2{
    overflow: hidden;
}

div.carrossel{
    display: flex;
    width: 100%;
    align-items: center;
}

div.swiper div.swiper-pagination{
    /* background-image: linear-gradient(to bottom, transparent, rgba(128, 0, 128, 0.29), transparent); */
    padding: 5px;
    border-radius: 5px;
}

.swiper-pagination-bullet{
    background: white !important;
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
}


div.humano{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    align-items: center;
    background-image: linear-gradient(to bottom, purple, rgb(44, 1, 50));
}

div.humano img{
    width: 100%;
}

div.humano p{
    background-image: linear-gradient(to bottom, purple, rgb(84, 0, 84));
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    margin: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#elton p{
    background-image: none !important;
    background-color: red !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#elton a{
    text-decoration: none;
}


#elton:hover{
    filter: brightness(110%);
    cursor: pointer;
}

/* RODAPÉ */

footer{
    background-image: linear-gradient(to bottom, black, rgb(63, 0, 63));
    padding: 40px 20px 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

div.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

p#arroba{
    color: gray;
}

#icone{
    background-color: purple;
    padding: 7px;
    border-radius: 50%;
    transition: background-color .1s ease-in-out;
}

#icone i{
    color: white;
}

#icone:hover{
    background-color: black;
}

#icone:hover i {
    color: white;
}



/* charada */

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s ease;
}

.visible{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.escuro{
    background-color: rgba(0, 0, 0, 0.564);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    backdrop-filter: blur(15px); /* Desfoque do fundo */
    transition: all 0.5s ease;
}

.fechar{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    border-radius: 30px;
    background-color: purple;
    z-index: 999;
    transition: all 0.5s ease;
}

.fundoGreen{
    background-color: rgb(3, 157, 0);
}

.fundoRed{
    background-color: rgb(157, 0, 0);
}

.ch-titulo{
    background-image: linear-gradient(to bottom right, rgba(128, 0, 94, 0.8), rgba(50, 0, 121, 0.8));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
    z-index: 9999;
    
    padding: 50px 100px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    font-size: 50px;
}

.greenLight h1{
    color: rgb(72, 250, 72);
}

.ch-titulo p{
    font-size: 30px;
    color: rgb(175, 175, 175);
}

.charada{
    background-image: linear-gradient(to bottom right, rgba(128, 0, 94, 0.8), rgba(50, 0, 121, 0.8));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
    z-index: 9999;

    padding: 50px 100px;
    border-radius: 10px;
}

.charada .titulo-charada{
    text-align: center;
    margin-bottom: 30px;
}

.charada .text-charada{
    font-size: larger;
    text-indent: 30px;
}

.center{
    text-align: center;
}


.bts-charada{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.ch-acertou{
    color: rgb(0, 203, 0);
}

button.bt{
    color: black;
    background-color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btGreen{
    background-color: rgb(50, 255, 50) !important;
}

.btRed{
    background-color: rgb(255, 50, 50) !important;
}

button.bt:hover{
    background-color: rgb(255, 195, 255);
    scale: 1.02;
}



/* premio */

.pagina-especial{
    background-image: linear-gradient(to bottom right, rgba(128, 0, 94, 0.8), rgba(50, 0, 121, 0.8));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
    z-index: 9999;
    
    padding: 50px 100px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    font-size: 50px;
    gap: 30px;
}

.pagina-especial h2{
    font-size: 50px;
}

.pagina-especial a{
    background-color: white;
    color: purple;
    text-decoration: none;
    padding: 5px 45px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 30px;
    transition: all .2s ease;
}

.pagina-especial a:hover{
    background-color: rgb(199, 0, 199);
    color: white;
}
